<div class="container-fluid">
  
    <div class="col-md-10">
      <!--Body content-->
        <div class="">
            <a class="add btn btn-primary btn-lg" href="#/event/new">Add Event</a>
        </div>

        <h1>Events</h1>

        <table class="table">

          <tr class="hidden-xs hidden-sm">
            <th>Name</th>
            <th class="event-description-hdr">Description</th>
            <th>Date</th>
            <th></th>
          </tr> 

          <tr class="visible-xs visible-sm">
            <th style="font-size: 20px">Name</th>
            <th style="font-size: 20px">Date</th>
            <th></th>
          </tr>   
       
          <tr ng-repeat="event in events" class="event-row hidden-xs hidden-sm">
  			    <td class="event-name">{{event.name}}</td>
  	        <td class="event-description">{{event.description}}</td>
  	        <td class="event-date">{{event.event_date | date:'MMM d, yyyy'}}</td>
  	        <td class="text-right">
  	            <a class="btn btn-warning edit-event" href="#/event/{{event.id}}/edit">Edit</a>
  	            <a class="btn btn-danger delete-event" href="#/event/{{event.id}}/destroy">Delete</a>
  	            <a class="btn btn-success" href="#/event/{{event.id}}/vote/booth">Go to poll</a>
                <a class="btn btn-info view-event" href="#/event/{{event.id}}/results">View Results</a>
  	        </td>
  		    </tr>

          <tr ng-repeat="event in events" class="event-row visible-xs visible-sm">
            <td class="event-name" style="font-size: 20px">{{event.name}}</td>
            <td class="event-date" style="font-size: 20px">{{event.event_date | date:'MMM d, yyyy'}}</td>
            <td class="text-right">
                <a class="btn btn-info view-event" href="#/events/{{event.id}}">View</button>
            </td>
          </tr> 
        </table>
  </div>
</div>