<div id="voting-form" ng-show="!notification">
    <button class="btn btn-primary btn-lg" ng-click="castVote('Yes')">Yes</button>
    <button class="btn btn-primary btn-lg" ng-click="castVote('No')">No</button>
</div>