<div id="voting-form" ng-show="!notification">
    <p>Did you enjoy this event ? </p>
    <button class="btn btn-primary btn-lg btn-success" ng-click="castVote('Yes')">Yes</button>
    <button class="btn btn-primary btn-lg btn-danger" ng-click="castVote('No')">No</button>
</div>