<div>
    <h1><%= @event.name%> poll</h1>

    <table class="table">
        <tr>
            <th>Yes</th>
            <th>No</th>
        </tr>
        <tr>
            <td id="yes-votes"><%= @event.num_yeses%></td>
            <td id="no-votes"><%= @event.num_nos%></td>
        </tr>
    </table>
</div>
